.event-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* top: 50rem; */
    left: 10vw;
    right: 10vw;
    top:100vh;
}

.about-event {
    display: flex;
    align-items: center;
    column-gap: 10%;
    position: absolute;
    top: 10rem;
}

.stats {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 73px;
    position: absolute;
    top: 110vh;
    column-gap: 5vw;

    /* width: 729px;
    height: 200.71px; */
    width: 10vw;
    left: 37vw;
}


.event-desc {
    width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 177.52%;
}

.aboutEventImage {
    width: 40vw;
    height: 80vh;
    left: 60%;
}

.regstats,
.collegeStats,
.countryStats,
.citystats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.1vw;
    /* height: 20vh;
    width: 20vw; */
/* position: absolute; */
}

.registrationsImage,
.collegesImage,
.countriesImage,
.citiesImage {
    height: 10vh;
    width: 8vw;
    background-color: #07182A;
}

.statsNo,
.statsdesc {
    width: 5rem;
    height: 2rem;
    font-family: 'Orienta';
    /* font-family: 'Orbitron'; */
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    line-height: 4vw;
    color: #100f0f;
    text-align: center;
    align-self: center;
}

.about-our-event-heading {
    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    line-height: 4vw;
    /* identical to box height */
    color: #fbf3f3;
    background: #07182A;
    border-radius: 17px;
    width: 14vw;
    text-align: center;
    padding-right: 4rem;
    padding-left: 4rem;
    position: absolute;
    left: 30%;
    top:8vh;
}

@media only screen and (min-width:200px) and (max-width:567px) {
    .stats {
        /* background-color: magenta; */
        /* width: 8vw; */
    }
}


/* @media only screen and (min-width:200px) and (max-width:567px) {
    .event-info{
width: 100%;
    }
.about-our-event-heading{
    width: 100%;
    font-size: 1rem;
    margin-top: 4em;
}


} */

/* 
.about-our-event {}

.about-our-event-heading {
    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;

    color: #161515;
}

.about-event{
    position: absolute;
    left: 7.12%;
right: 40.42%;
top: 13.17%;
bottom: 10.93%;
}

.event-desc{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 177.52%;


color: #000000;
}

.aboutEventImage{
    position: absolute;
width: 468px;
right: -438px;
top: 6.14%;
bottom: 4.04%;
}
 */