.sponsors-layout{
    position: absolute;
    top: 419rem;
    width: 100%;
    /* background-color: magenta; */
    
    }
    
    .sponsorsImage{
        width: 100%;
        height: 100%;
    }


    @media only screen and (min-width:200px) and (max-width:567px) {
        .sponsors-layout{
/* width: 100%; */
/* background-color: magenta; */
        }
    }